* {
    text-align: center;
}

.back-link {
    text-align: left;
    padding-top: 10px;
    margin-left: 20%;
}

.game{
    width:500px;
    margin: auto;
}

.game-body{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.game-text{
    margin: auto;
    padding: 20px;
}

.footer {
    min-height: 100px;
}

.game-button {
    width: 100px;
    height: 100px;
    font-size: 60px;
    text-shadow: darkgray 1px 0 10px;
    border-radius: 5px;
    border: slategray 1px solid;
}

.score-font{
    font-size: 30px;
    font-weight: bold;
    padding-top:10px;
}

.click-font {
    font-size: 20px;
    font-weight: bold;
}

.multiline {
    white-space: pre-wrap;
}

.hide {
    display: none;
}

.exp-text {
    text-align: center;
    margin: auto;
    border: 1px black solid;
    padding: 10px;
    width: 700px;
    max-width: 90%;
}

@media (max-width: 1200px) {
    .back-link {
        margin-left: 5%;
    }
}

@media (max-width: 950px){
    .game-body{
        grid-template-columns: repeat(5,1fr);
        width: 375px;
        margin: auto;
    }

    .game-button{
        width: 75px;
        height: 75px;
        font-size: 45px;
    }
    
    .game{
        width: 375px;
    }
}

@media (max-width: 500px){
    .game-body {
        grid-template-columns: repeat(5, 1fr);
        width: 250px;
    }
        
    .game-button {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
        
    .game {
        width: 300px;
        }
}