.header {
    text-align: center;
}

.chatroom{
    text-align: left;
    margin: auto;
    display: block;
    width: 80%;
}

.chat-input{
    display: inline-flex;
    padding: 10px;
    width: 100%;
}

label, .chat-submit {
    padding-left: 10px;
    padding-right: 10px;
}

.chat-display{
    border: grey 1px solid;
    height: 500px;
    border-radius: 5px;
    text-align: left;
    overflow-y: auto;
    background-color: #f9f9f9;
    word-wrap: break-word;
}

.chat-name{
    width: 20%;
    text-align: left;
}

.chat-text{
    width: 80%;
    text-align: left;
}

.back-link {
    text-align: left;
    padding-top: 10px;
    margin-left: 20%;
}

.chat-submit{
    margin-left: 10px;
}

.chat-display p {
    margin: 5px 0;
    padding: 0;
}

@media (max-width: 1200px) {
    .back-link {
        margin-left: 5%;
    }

    .chat-display{
        height: 300px;
    }
    
    .chat-input{
        display: block;
    }

    .chat-name, .chat-text{
        margin-bottom: 10px;
        width: 100%;
    }

    .chat-submit{
        margin: 10px;
    }
}