
*{
    text-align:center;
}

.output{
    text-wrap: wrap;
}

h1, h3{
    padding-bottom: 20px;
    font-weight: bold;
}

h1{
    padding-top: 20px;
}

.output{
    padding: 10px;
}

.inset-text{
    display: block;
    text-align:left;
    margin: auto;
    padding-bottom: 50px;
    width: 1000px;
    max-width: 90%;
}

.exp-text {
    text-align: left;
    margin: auto;
    border: 1px black solid;
    padding: 10px;
    width:900px;
    max-width: 90%;
}

.tip{
    padding-bottom: 20px;
}

.button{
    margin-left: 10px;
}

.footer{
    padding: 10px;
}

textarea {
    text-align: left;
    width: 80%;
    max-width: 600px;
}

.multiline {
    white-space: pre-wrap;
}

.hide{
    display: none;
}

label{
    padding-bottom:5px;
}

.back-link{
    text-align: left;
    padding-top: 10px;
    margin-left: 20%;
}

@media (max-width: 1200px) {
    .back-link {
        margin-left: 5%;
    }
}